.dot a{
  padding: 20px;
  border-radius: 50%;
  background-color: #1c66de;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}
.dot a:hover, .dot a:focus, .dot a:active{
  transition-duration: 0.3s;
  background-color: black;
}


.website-numbers{
  width: 100px;
  padding: 0px 150px;
  margin-bottom: 20px;
}
.website-number{
  width: 1000px;
  padding: 30px 0px;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #ebebeb;
}
.website-number h2{
  color: #303030;
  font-weight: 400;
}
.website-number span{
  color: #1c66de;
}